[submodule "src/whirlybird_serial"]
	path = src/whirlybird_serial
	url = https://magiccvs.byu.edu/gitlab/whirlybird/whirlybird_serial.git
[submodule "src/whirlybird_controller"]
	path = src/whirlybird_controller
	url = https://magiccvs.byu.edu/gitlab/whirlybird/whirlybird_controller.git
[submodule "src/whirlybird_sim"]
	path = src/whirlybird_sim
	url = https://magiccvs.byu.edu/gitlab/whirlybird/whirlybird_sim.git
[submodule "src/whirlybird_description"]
	path = src/whirlybird_description
	url = https://magiccvs.byu.edu/gitlab/whirlybird/whirlybird_description.git
[submodule "src/whirlybird_msgs"]
	path = src/whirlybird_msgs
	url = https://magiccvs.byu.edu/gitlab/whirlybird/whirlybird_msgs.git
